<?xml version="1.0" encoding="utf-8"?>
<configuration>
<!-- XrmDefinitelyTyped.exe /username:Admin@INSTANCE.onmicrosoft.com /password:Pass@word1 -->
  <appSettings>
    <add key="url" value="https://{YourOrg}.crm.dynamics.com/XRMServices/2011/Organization.svc"/>
    <add key="ap" value="OnlineFederation"/>
    <add key="method" value="OAuth"/>
    <add key="mfaAppId" value="51f81489-12ee-4a9e-aaae-a2591f45987d" />
    <add key="mfaReturnUrl" value="app://58145b91-0c36-4500-8554-080854f2ac97"/>
    <add key="username" value="{YourEmail}"/>
    <add key="out" value="typings/Xdt" />
    <add key="entities" value="account, contact" />
    <add key="web" value="XdtQuery" />
    <add key="jsLib" value="src/lib" />
    <add key="solutions" value="" />
  </appSettings>
</configuration>